@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 4));
    }
}

.logo-slider {
    background: white;
}

.logo-slide-track {
    animation: scroll 20s linear infinite;
    will-change: transform;
}

.logo-slide-track:hover {
    animation-play-state: paused;
}

.logo-slide {
    background: white;
    padding: 2rem;
}

@media (max-width: 768px) {
    .logo-slide {
        width: 200px;
    }
    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-200px * 4));
        }
    }
}

@media (max-width: 640px) {
    .logo-slide {
        width: 150px;
    }
    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-150px * 4));
        }
    }
}
