.container-slide{
    width: 1260px;
    max-width: 100%;
}
.slider-wrapper{
    margin:  0 30px 20px;
    padding: 20px 30px;
    overflow: hidden;
}
.card{
    background: #fff;
    border-radius: 25px;
    box-shadow: 0 0 20px #00000030;
}
.content-img,
.content-box{
    padding: 30px 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content-img{
    position: relative;
    row-gap: 5px;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #1B4071;
    border-radius: 25px 25px 25px 0;
}
.overlay::before{
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    background: #1B4071;
    left: 0;
    bottom: -40px;
}
.overlay::after{
    content: '';
    position: absolute;
    height: 40px;
    width: 41px;
    background: #ffffff;
    left: 0;
    bottom: -40px;
    border-radius: 25px 0 0 0;
}
.card-img{
    width: 130px;
    height: 130px;
    position: relative;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}
.card-img .card-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #1B4071;
}
.content-box .username{
    font-size: 26px;
    font-weight: 600;
    color: #09003a;
    padding-bottom: 6px;
    z-index: 1;
}
.content-box .user-profession{
    font-weight: 500;
    color: #09003a;
}

.slider-wrapper .swiper-pagination-bullet{
    background: #1B4071;
    height: 13px;
    width: 13px;
    opacity: 0.5;
}
.slider-wrapper .swiper-pagination-bullet-active{
    opacity: 1;
}
.slider-wrapper .swiper-slide-button{
    color: #1B4071;
    margin-top: -40px;
    transition: 0.5s;
}
.slider-wrapper .swiper-slide-button:hover{
    color: #ff008c;
}
/* Responsive Code */
@media screen and (max-width: 768px) {
    .slider-wrapper{
        margin:  0 20px 20px;
        padding: 20px 30px;
    }
}
